<!doctype html>
<html lang="lt">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Paslaugų teikimo patvirtinimas</title>
	</head>
	<body>
		<div style="font-family: Arial, sans-serif; line-height: 1.6">
			<p>Sveiki, {{name}}</p>
			<p>Paspauskite nuorodą, kad patvirtintumėte paslaugų teikimą</p>
			<p>
				<strong>
					<a href="{{link}}" style="color: #3498db; text-decoration: none">Nuoroda</a>
				</strong>
			</p>
		</div>
	</body>
</html>
