*.http
*.ipa
*.jks
*.key
*.mobileprovision
*.orig.*
*.p12
*.p8
*.pem
*.tsbuildinfo
.DS_Store
.env*
.expo/
.metro-health-check*
.vscode/
build/
dist/
node_modules/
npm-debug.*
postgresql.log
web-build/
yarn-debug.*
yarn-error.*
