/* .mantine-MonthPicker-monthsListRow {
	[data-selected],
	[data-selected]:hover {
		background-color: var(--Primary);
		color: blue;
	}
} */

/* .monthsListRow {
	[data-selected],
	[data-selected]:hover {
		background-color: var(--Primary);
	}
} */
