.fc {
	width: 600px;

	td,
	h2,
	a {
		color: var(--Text);
	}

	h2 {
		font-weight: bold;
	}
}

.fc-event-time {
	color: var(--Text);
}

.fc-header-toolbar {
	gap: 1rem;
}

.fc-toolbar-title {
	font-size: 1.2rem !important;
}

.fc-button-primary {
	color: var(--Text) !important;
	box-shadow: none !important;
	border-color: var(--Primary) !important;
	background-color: var(--Primary) !important;
}

button {
	font-size: small !important;
	font-style: normal !important;
	text-transform: capitalize !important;
}

.fc .fc-daygrid-day.fc-day-today {
	background-color: var(--PrimaryLight);
}

.fc .fc-timegrid-col.fc-day-today {
	background-color: var(--PrimaryLight);
}

.fc .fc-button .fc-icon {
	font-size: 1.5em;
	vertical-align: bottom;
}
